{% load static %}
<link rel="stylesheet" href="{% static 'file.css' %}">
<script type="text/javascript">
    fetch('https://api64.ipify.org?format=json')
    .then(response => response.json())
    .then(data => {
        let userIp = data.ip;
        document.getElementById("user_public_ip").innerText = "公网IP：" + userIp;
    });
</script>

<div class="center-container">
    <form action="{% url 'ip_tools' %}" method="get">
    <label for="ip">请输入IP：</label>
    <input type="text" id="ip" name="ip">
    <input type="submit" value="查询">
    </form>
</div>

<div class="center-container">
    {% if location %}
        <p>IP物理地址： {{ location }}</p>
    {% endif %}
</div>

<p class="center-container" id="user_public_ip">公网IP：正在获取...</p>

<div class="center-container" >
    <form action="{% url 'ip_tools' %}" method="get">
    <label for="domain">请输入域名：</label>
    <input type="text" id="domain" name="domain">
    <input type="submit" value="查询">
    </form>
</div>

<div class="center-container">
    {% if ip_address %}
        <p>{{ domain }}：{{ ip_address }}</p>
    {% endif %}

</div>

