body {
    font-family: 'Arial', sans-serif;  /* 使用 Arial 字体，没有 Arial 的话，使用无衬线字体 */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;  /* 设定一个浅灰色背景，使内容更为显眼 */
    color: #333;  /* 文本颜色 */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #007BFF;  /* 使用蓝色背景 */
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;  /* 当鼠标悬停时变为深蓝色 */
}
